* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  background-color:Tomato;
  color: white;
  padding: 20px;
  text-align: left;
}

.nav {
background-color:Grey;
text-align: right;
}

aside {
  float: right;
  width: 50%;
  padding: 20px;
}

section {
  float: left;
  padding: 20px;
    width: 50%;
    text-align: justify;
}

footer {
  padding: 10px;
  text-align: center;
  color: white;
}

@media (max-width: 600px) {
  .header, .nav, aside, section, footer {
    width: 100%;
    height: auto;
  }
